{% extends 'base.html.twig' %}
{% form_theme formTransfer 'bootstrap_4_layout.html.twig' %}
{% block title %}WeTransfer{% endblock %}
  {% block body %}
<div class="container page">
        <div class="row styleform pt-5">
        <div class="col-8 mt-5">
          <h1> We Transfer</h1>
          {{ form_start(formTransfer) }}
          {{ form_widget(formTransfer) }}
          {{ form_end(formTransfer) }}
        </div>
      </div>
</div>
  {% endblock %}
